:root{
    /* App colors */
    --primary-color: #2F80ED;
    --accent-color: #333333;
    --input-color: #EDEDED;
    --base: #FFFFFF;
    --footer-background: #F2F2F2;
    --green-detail: #07EB10;
    --red-detail: #CF1212;

    /* Font sizes */
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xl: 34px;
    --xxl: 42px;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    background-color: var(--base);
    color: var(--accent-color);
}
/* ::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #a8a8a8; 
} */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header > img:nth-child(1) {
    position: absolute;
    top: 0;
    width: 100%;
    height: 650px;
    z-index: -5;  
}
.header > img:nth-child(2) {
    display: none;
}
/* .header .image-container {
    width: 200px;
    height: 200px;
}
.header .image-container img {
    width: 100%;
    height: 100%;
} */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    width: 164px;
    height: 69px;
    background-color: var(--footer-background);
}
.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-container .title {
    font-size: var(--xl);
    color: var(--base);
    text-align: center;
    margin: 20px 0 20px 0;
}
.title-container .subtitle{
    font-size: var(--md);
    color: var(--base);
    font-weight: 300;
    text-align: center;
    margin: 0;
}
.primary-button {
    width: 146px;
    height: 46px;
    font-family: inherit;
    background-color: var(--accent-color);
    border-radius: 7px;
    border: none;
    color: var(--base);
    font-weight: bold;
    cursor: pointer;
}
.email-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    
}
.email-container .email-input {
    padding-left: 15px;
    width: 280px;
    height: 46px;
    border-radius: 7px;
    border: 0;
    background-color: var(--input-color);
    font-size: var(--sm);
    font-family: inherit;
    font-weight: 300;
}
.email-container .email-input::placeholder {
    margin-left: 10px;
}
.email-container div:nth-child(2) p {
    color: var(--base);
    font-weight: lighter;
    font-size: var(--sm);
    width: 450px;
    text-align: center;
    margin: 0;
}
.header-image {
    width: 413px;
    margin-top: 30px;
}
.down-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.down-button img {
    max-width: 29px;
    max-height: 17px;
}
.courses-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 50px 50px 50px;
    column-gap: 100px;
    row-gap: 100px;
}
.course{
    cursor: pointer;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.course .take-course {
    align-self: flex-end;
    background-color: var(--primary-color);
    color: var(--base);
    font-size: var(--sm);
    font-weight: 300;
    border-radius: 0 10px 0 0;
    padding: 5px 20px 3px 3px;
}
.course:hover {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25); 
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.course-info {
    display: flex;
    flex-direction: column;
    padding: 25px 30px 30px 30px;
}
.course-info img {
    align-self: center;
    max-width: 75px;
    max-height: 75px;
    object-fit: cover;
}
.course-info p {
    font-size: var(--sm);
    font-weight: 400;
}
.course-info p:nth-child(2) {
    font-size: var(--sm);
    font-weight: bold;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container .start-button {
    background-color: var(--primary-color);
    font-size: var();
}
.footer-container > p:nth-child(1) {
    max-width: 600px;
    text-align: center;
    margin: 20px 20px;
}
.faq-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    background-color: var(--footer-background);
    width: 100%;
    height: auto;
    padding: 50px 0;
}
.faq {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.faq .question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #E0E0E0;
}
.faq .question > p:nth-child(2) {
    align-self: flex-end;
}
.faq .question > p:nth-child(3) {
    display: none;
}
.exam {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exam > div {
    display: flex;
    gap: 20px;
}
.happy, .sad {
    background-color: var(--green-detail);
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.sad {
    background-color: var(--red-detail);
}
.question p:nth-child(1) {
    text-align: left;
    margin: 20px 0;
}
.course-presentation {
    display: flex;
    flex-direction: column;
    max-width: 868px;
    height: auto;
    border-radius: 35px;
    background-color: var(--base);
    overflow: hidden;
}
.course-presentation .course-header {
    display: flex;
    width: inherit;
    justify-content: space-between;
    margin: 25px 25px;
}
.close {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--input-color);
    color: var(--accent-color);
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.course-presentation .course-header .title-course {
    max-width: 500px;
    text-align: center;
    font-weight: bold;
    font-size: var(--xxl);
}
.download {
    width: 38px;
    height: 38px;
    border-radius: 7px;
    background-color: var(--input-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.download img {
    width: 20px;
    height: 22.80px;
}
.download-bottom {
    display: none;
}
.course-presentation .course-description {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-size: var(--md);
    margin-bottom: 50px;
}
.course-presentation .course-description p:first-child {
    max-width: 324px;
    text-align: center;
}
.course-presentation .course-description .divisor {
    height: 150px;
    border-left: 0.10px solid var(--accent-color);
}
.course-presentation .course-description ul {
    list-style: none;
    padding: 0;
}
.course-presentation .course-description ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.course-presentation .course-description ul li img {
    width: 16px;
    height: 16px;
    margin-right: 15px;
}
.course-presentation .course-footer {
    display: flex;
    flex-direction: column;
    height: 135px;
    width: 100%;
    background-color: var(--primary-color);
    align-self: flex-end;
    align-items: center;
    color: var(--base);
}
.course-presentation .course-footer p {
    margin: 5px 0;
}
.course-presentation .course-footer span {
    font-weight: lighter;
    
}
.course-presentation .course-footer button {
    margin-top: -23px;
}
.charging-bar {
    height: 20px;
    width: 405px;
    background-color: var(--base);
    border-radius: 10px;
    overflow: hidden;
}
.charging-bar .progress {
    width: 10%;
    height: 20px;
    background-color: var(--green-detail);
    overflow: hidden;
    -webkit-animation: progress-bar 2s;
    -moz-animation: progress-bar 2s;
}
.course-content {
    justify-content: space-between;
    height: 588px;
}
.course-content > div:nth-child(1) {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    flex: 1;
}
.course-content .close {
    margin: 20px 0 0 20px;
    
}
.course-content .center-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.course-content .center-section article {
    max-width: 652px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--accent-color);
    overflow: scroll;
}
.back, .next {
    min-width: 42px;
    min-height: 42px;
    background-color: var(--primary-color);
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 15px;
}
.back img {
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
} 
.option-bar {
    max-width: 652px;
    padding: 10px;
    margin: 20px 50px;
    display: flex;
    align-items: center;
    align-self: center;
    overflow-x: scroll;
}
.option-bar .option {
    min-width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: var(--base);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}
.option-bar .option:first-child {
    background-color: var(--primary-color);
    color: var(--base);
    font-weight: bold;
}
.option-bar .divisor {
    min-width: 22px;
    height: 2px;
    background-color: var(--primary-color);
}
@media(max-width:640px){
    .header {
        margin: 0 20px 0 20px;
       
    }
    .header > img:nth-child(1) {
        display: none;
    }
    .header > img:nth-child(2) {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 346px;
        z-index: -5;  
    }
    .header-image {
        order: 3;
        max-width: 192px;
        max-height: 152.63px;
        height: 152.63px;
        object-fit: cover;
        margin-top: 20px;
    }
    .logo {
        order: 1;
        margin-top: 15px;
    }
    .title-container{
        order: 2;
    }
    .title-container .title {
        margin-bottom: 8px;
        margin-top: 15px;
    }
    .email-container {
        order: 4;
    }
    .email-container div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .email-container div:nth-child(2) p {
        color: var(--accent-color);
        width: auto;
    }

    .email-container .primary-button {
        width: 127px;
        padding: 0 0 0 16px;
    }

    .email-container .primary-button p {
        width: 85px;
        margin: 0;
    }
    .down-button {
        display: flex;
        order: 5;
        margin-top: 15px;
    }
    .faq {
        width: 100%;
        margin: 0 30px;
    }
    .course-presentation {
        border-radius: 0;
        height: 100vh;
        overflow: scroll;
        justify-content: space-between;
    }
    .course-presentation .course-header {
        flex-flow: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .course-presentation .course-header .title-course {
        margin: 10px 0;
        font-size: var(--xl);
        align-self: center;
    }
    .close {
        align-self: flex-end;
    }
    .course-presentation .course-header .download {
        display: none;
    }
    .course-presentation .course-description {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        font-size: var(--md);
        margin-bottom: 50px;
    }
    .course-presentation .course-description .divisor {
        width: 50%;
        height: 0;
        border-left: 0;
        border-bottom: 0.10px solid var(--accent-color);
        margin: 20px 0;
    }
    
    .charging-bar {
        width: 80%;
    }
    .download-bottom {
        display: flex;
        margin-top: -43px;
        margin-right: -215px;
    }
    .back, .next {
        display: none;
    }
    .course-content {
        overflow: hidden;
    }
    .course-content > div:nth-child(1) {
        padding: 10px 20px;
        height: 100%;
    }
    .course-content .center-section article {
        flex: 1 80%;
    }
    .option-bar {
        background-color: var(--primary-color);
        margin: 0;
        width: 100%;
        padding: 15px 0;
        padding-left: 20px;
    }
    .option-bar .option:first-child {
        background-color: var(--accent-color); 
    }
    .option-bar .divisor {
        background-color: var(--base);
    }

}
@-webkit-keyframes progress-bar {
    0% { width: 0; }
} 
  
@-moz-keyframes progress-bar {
     0% { width: 0; }
}

